__pycache__/
*.sqlite3
.venv/
.idea/
sessions/
.env
.env.*
.DS_Store
*.rdb
celerybeat.pid
celerybeat-schedule.db
*.mo
public/
supervisord.log
supervisord.pid
.pgdata/
.redisdata/
*.log
accounts.txt
local_selenium.py
chromedriver
*.csv
lemmas.json
stop_words.txt
*.pickle
il_journal_articles/
dict_corp_lt.txt
